SECRET_KEY = ''
DATABASES_USER = ''
DATABASES_PASSWORD = ''
CACHES_PASSWORD = ''
CACHES_LOCATION = 'redis://127.0.0.1:6379/1'
RQ_QUEUES_PORT = 6379
EMAIL_USER = ''
EMAIL_PASSWORD = ''
DEFAULT_EMAIL = ''
EMAIL_HOST = ''
