SECRET_KEY=''
DEBUG=True
ALLOWED_HOSTS=
CSRF_TRUSTED_ORIGINS=''
CORS_ALLOWED_ORIGINS=''
DATABASES_NAME=''
DATABASES_USER=''
DATABASES_PASSWORD=''
CACHES_LOCATION='redis://127.0.0.1:6379/1'
CACHES_PASSWORD=''
RQ_QUEUES_PORT=6379
RQ_QUEUES_PASSWORD=''
EMAIL_HOST=''
EMAIL_PORT=
EMAIL_HOST_USER=''
EMAIL_HOST_PASSWORD=''
DEFAULT_FROM_EMAIL=''
SENTRY_dns=''