# Created by venv; see https://docs.python.org/3/library/venv.html

# Environments
*.env*
*.venv*
venv/
env/

# Visual Studio Code # 
.vscode/*

# Other
*.pyc
__pycache__/
*.log
db.sqlite3
.DS_Store
Thumbs.db
static/
